body {
    margin: 0;
    font-family: 'Abhaya Libre', serif;
    background-color: #f4f4f4;
    color: #333;
    overscroll-behavior: none;
    overflow-x: hidden;
  }
  
  .bg {
      margin: 0;
      padding: 60px 0 0;
      display: flex;
      flex-wrap: wrap;
      align-items: center; 
      justify-content: center; 
      background-image: url('/BG_Sponsor3.jpg'); 
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-attachment: fixed; 
      height: 100vh; 
      width: 100vw; 
      overflow: scroll; 
  }
  
  .team-index {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 30px 40px;
    justify-items: center;
    padding: 20px;
}

h1 {
    grid-column: span 3;
    text-align: center;
}
    
  .link-list {
      display: flex;
      flex-wrap: wrap; 
      gap: 20px; 
      list-style: none; 
      padding: 0;
      margin: 0;
  }
    
  .link-list li {
      flex: 1 1 calc(50% - 20px); 
      max-width: calc(50% - 20px); 
      margin: auto;
  }
    
  @media screen and (max-width: 768px) {
      .link-list li {
          flex: 1 1 calc(50% - 40px); 
      }
  }
    
  @media screen and (max-width: 600px) {
    .bg {
      padding: 15px;
    }
  }
  
  @font-face {
    font-family: 'enigma';
    src: url('/src/assets/enigma.otf'); 
  }