body {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery {
  width: 100%;
  height: 800px;
}

.gallery-text {
  padding: 20px;
  font-size: 35px;
  font-family: "Bebas Neue", sans-serif;
  color: pink;
  display: flex;
  justify-content: center;
}

.galleryContainer {
  align-items: center;
  display: flex;
  height: 500px;
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
}

.galleryItem {
  height: 300px;
  opacity: 0;
  position: absolute;
  transition: all 0.3s ease-in-out;
  width: 450px;
  z-index: 0;
  border-radius: 15px;
  background-size: contain;
  cursor: pointer;
}

.galleryItem3::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  height: 100px;
  background: linear-gradient(to bottom, rgba(255, 115, 0, 0.3), transparent);
  transform: scaleY(-1);
  opacity: 0.5;
  pointer-events: none;
}

.galleryItem1 {
  left: 10%;
  opacity: 0.4;
  transform: translateX(-50%);
}

.galleryItem2,
.galleryItem4 {
  height: 350px;
  opacity: 0.8;
  width: 500px;
  z-index: 1;
}

.galleryItem2 {
  left: 25%;
  transform: translateX(-50%);
}

.galleryItem3 {
  box-shadow: -2px 5px 33px 6px rgba(0, 0, 0, 0.35);
  height: 400px;
  opacity: 1;
  left: 50%;
  transform: translateX(-50%);
  width: 600px;
  z-index: 2;
}

.galleryItem4 {
  left: 75%;
  transform: translateX(-50%);
}

.galleryItem5 {
  left: 90%;
  opacity: 0.4;
  transform: translateX(-50%);
}

.galleryItem:hover {
  box-shadow: 0 0 20px 10px rgba(255, 215, 0, 0.8);
}

.arrowContainer {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid white;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  z-index: 4;
}

.arrowContainer.previous {
  left: -13%;
}

.arrowContainer.next {
  right: -13%;
}

.arrowButton {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.arrowButton:hover {
  color: rgba(255, 255, 255, 0.7);
}

.arrowButton:focus {
  outline: none;
}

/* Responsive Design for Mobile */
@media (max-width: 768px) {
  .gallery {
    height: 600px;
  }

  .gallery-text {
    font-size: 28px;
  }

  .galleryContainer {
    height: 400px;
    max-width: 100%;
  }

  .galleryItem {
    height: 300px;
    width: 300px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
  }

  .galleryItem3 {
    box-shadow: none;
    height: 300px;
    width: 300px;
  }

  .galleryItem1,
  .galleryItem2,
  .galleryItem4,
  .galleryItem5 {
    display: none; /* Hide all other items */
  }

  .arrowContainer {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 5px;
  }

  .arrowContainer.previous {
    left: 0%;
  }

  .arrowContainer.next {
    right: 0%;
  }

  .arrowButton {
    font-size: 20px;
  }
}
