body {
  margin: 0;
  padding: 0;
  background-image: url('/bg_L.jpg');
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 125% auto;
  background-attachment: scroll;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.coming-soon {
  position: absolute;
  top: 10vh;
  left: 70%;
  width: 30vw;
  padding: 0 2.5%;
  transform: translateX(-50%);
}

.image-yuvaan {
  position: absolute;
  top: 5vh;
  left: 30%;
  width: 55vw;
  padding: 0 2.5%;
  transform: translateX(-50%);
}

.navbar-space {
  margin-top: 60px;
  padding-top: 100vh;
}

/* Floating Scroll Down Icon */
.scroll-down-icon {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
}
.info{
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-heading{
  font-size: 5rem;
  margin: 0 0 0 3rem;
}
.card-row{
  width: 100%;
  margin: 3rem;
  border: 3px solid white;
  border-radius: 2rem;
}
